<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <script src="/js/home1.js"></script>
    <script src="/js/home11.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- <link rel="stylesheet" href="stylesheets/news.css"> -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


        
    <link rel="stylesheet" href="../stylesheets/home.css">
</head>
<body>
  

<nav class="nav">
    <div class="container">
        <h1 class="logo"><a href="/"><img class="logo" src="../images/logo.png" alt=""></a>
        </h1>
        <ul>
            <li><a href="/" class="current">Home</a></li>
            <li><a href="about">About</a></li>
            
            

            </li> 
             <ul>
                <li>
                    <a href="/Car">Buy</a>
                    
                </li>
            </ul>
            
            <li><a href="/contact">Contact</a></li>

            <li><a href="/login">Login</a></li>
            <li><a href="/register">register</a></li>
            <!-- <li><a href="/review">Review</a></li> -->
            <li><a href="/showcar">Catelog</a></li>
            <li><a href="/review">Review</a></li>
            
        </ul>
    </div>
</nav> 









<div class="hero">
    <div class="container">
        <h1>&nbsp;&nbsp;  &nbsp;    Welcome to Mahavir Motor's</h1>
        <p> &nbsp;&nbsp;  &nbsp; "Discover Your Next Journey: Pre-Owned Perfection Awaits!"</p>
        

    </div>
</div>
<div class="c-head">
    <center><div  class="newarrival" >New Arrival</div></center><br>

</div>











    



      <!-- ADVERTISERS SERVICE CARD -->
<section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="section-header text-center">
        <h2 class="fw-bold fs-1">
          Our
          <span class="b-class-secondary">Provided </span>Services
        </h2>
        <p class="sec-icon"><i class="fa-solid fa-gear"></i></p>
      </div>
    </div>
    <br>
    <div  class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center ">
      <div  class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-chart-line"></i>
          </div>
          <h2>Insurance</h2>
          <p>
            Safeguard your automotive investment with comprehensive insurance coverage tailored to your needs.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-arrows-down-to-people"></i>
          </div>
          <h2>Car Transfer</h2>
          <p>
            
            Seamlessly transition ownership of your prestigious vehicle, ensuring a smooth transfer process.
          </p>
        </div>
      </div><div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-arrows-down-to-people"></i>
          </div>
          <h2>6-Month Warranty</h2>
          <p>
            Enjoy peace of mind with an exclusive 6-month warranty, ensuring reliability and satisfaction with every drive.
          </p>
        </div>
        <br>
      </div><div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-arrows-down-to-people"></i>
          </div>
          <h2> Servicing</h2>
          <p>
            Restore your car's pristine appearance and performance with meticulous denting, painting, and servicing.
          </p>
        </div>
      </div>
      
      <div  class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-money-check-dollar"></i>
          </div>
          <h2>Loan support</h2>
          <p>
            Fulfill your automotive dreams with convenient financing options tailored to your budget and preferences.
          </p>
        </div>
      </div>
      <br>
<br>
      
    </div><br><br>
  </div>
</section>

<!-- ADVERTISERS SERVICE CARD ENDED -->


<section style="background-color: black; margin:0px" id="footer">
  <div class="main-footer">
    <div class="logoinfo" data-aos="fade-up">
      <img   id="flogo" src="images/logo.png" alt="logo" height="200px" width="50px">
     

      <div class="contact-details">
        <h1>Contact Us</h1>
        <li>
          <div class="fa fa-phone"></div><a href="tel:+919822323411">+91 9822323411</a></li>
        <li>
          <div class="fa fa-envelope"></div><a href="mailto:mahavirmotorspune@gmail.com">mahavirmotorspune@gmail.com</a></li>
        </li>
    </div>
  </div>
  <div class="com " data-aos="fade-up">
    <h1>About</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
      
    </ul>
  </div>
  <div class="info" data-aos="fade-up">
    <h1 style="margin-left:20px">Social Media</h1>
    <div class="sociallogos">
      <div class="logobox">
        <a href="https://www.instagram.com/mahavir_motors29/" class="fa fa-instagram"></a>
        <a href="#" class="fab fa-whatsapp"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="https://www.youtube.com/channel/UCAvMUEQUM7m6D84yVmsGvQQ" class="fa fa-youtube-play"></a>
      </div>
    </div>
  </div>
  <div  class="address " data-aos="fade-up">
    <h1>Address</h1>
    <ul>
      <button id="but"><a  href="https://www.google.com/maps/dir//Mahavir+Motors/data=!4m8!4m7!1m0!1…!1m1!1s0x3bc2c06765555555:0x17e999b755b966af!2m2!1d73.7840018!2d18.595005" target="_blank" data-tracking-element-type="6" jslog="56039; track:impression,click">Get directions</a></button>
      
    </ul>
    <p style="color: beige;">Opp D Prabhag karyalaya aund ravet rood near mahalar missal Rahatani pcmc pimpry chinchward <br>
      Pune, Maharashtra 411017 <br>
      India</p>
  </div>
  </div>

  
<footer> Copyright  © Komal Shingavi  |  All Rights Reserved</footer>
</section>

      
<!-- <script src="../javascripts/news.js"></script> -->
    <script src="../javascripts/home.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  
</body>  
</html>
